<div #target class="jumbotron text-center">
            <h2 class="w3-animate-zoom">העבודה שלנו היא להפוך את הגיוס שלך לפשוט יותר</h2> 
         <br>
            <div class="col-md-12">
            <div class="col-md-4">
               <p style="color:white;">חיפוש וגיוס עובדים  <i class="fas fa-star"></i></p>
            </div>
            <div class="col-md-4" >
               <p style="color:white;">פרסום משרה  <i class="fas fa-star"></i></p>
            </div>
            <div class="col-md-4" >
              <p style="color:white;">ליווי אישי למיקסום תוצאות  <i class="fas fa-star"></i></p>
            </div>
        </div><br><br>
        <button (mouseover)="colorButtonOver()" (mouseout)="colorButtonOut()" (click)="dispalyAreaselect()">פרסם משרה</button>
        <button (mouseover)="colorButtonOver1()" (mouseout)="colorButtonOut1()" (click)="navigatetoJobsManagement()">ניהול חיפושים ומשרות למגייס</button>
         </div>
      <div class="container text-center">    
        <h3>?JOBBA למה</h3><br>
<div class="row">
 <div class="col-sm-4">
   <div class="well">
        <p>!מכירים את המועמדים שלך JOBBBAב</p>
    </div>
   <div class="well">
        <p>הכי הרבה מחפשי עבודה</p>
</div >
 </div>
  <div class="col-sm-4">
    <div class="well">
     <p>!!הוא הטוב ביותר JOBBA השירות של</p>
  </div>
   <div class="well">
    <p>חשיפת המותג שלך ברשת</p>
  </div >
  </div>
 <div class="col-sm-4">
    <div class="well">
        <p>!טריקים מקצועיים שחוסכים הרבה זמן</p>
   </div >
  <div class="well">
      <p>כלים מתקדמים לניהול הגיוס</p>
  </div >
 </div>
 </div>
 </div><br>
      <footer class="container-fluid text-center">
          <h4>:פנו אלינו</h4>
          <p>__________________________</p>
          <div class="col-md-12">
      <div class="col-md-3">
        <span class="fas fa-phone"></span>
        <p style="color:rgb(245, 20, 12);">0504180030 / 0548538680 </p>
     </div>
     <div class="col-md-3">
            <span class="glyphicon glyphicon-map-marker"></span>
            <p style="color:rgb(245, 20, 12);">ישראל | ירושלים</p>
         </div>
         <div class="col-md-3">
                <span class="glyphicon glyphicon-envelope"></span>
                <p style="color:rgb(245, 20, 12);">jobba.lh@gmail.com</p>
             </div>
             <div class="col-md-3">
                <img src="../../assets/Pictures/לוגו קטן.jpg" width="50px" height="50px">
                 <p style="color:rgb(245, 20, 12);">!פשוט למצוא עבודה JOBBA</p>
           </div>
        </div>
    </footer>
      