  <div #target class="jumbotron text-center">
      <!-- <div class="col-md-3 col-md-offset-1">
          <img src="../../assets/Pictures/לוגו קטן.jpg" width="30px" height="30px">
        </div> -->
    <h1 class="h1jumbotron w3-animate-bottom">JOBBA</h1> 
    <p class="pjumbotron w3-animate-bottom">!פשוט למצוא עבודה</p> 
  </div>
  
  <div id="about" class="container-fluid">
    <div class="row">
       
      <div class="col-md-8">
        <h2>?מי אנחנו</h2>
        <h3>JOBBA - כאן ב</h3>
        <h3>.נפגשים מדי יום (וגם בלילה) עשרות אלפי מעסיקים, עם קרוב למיליון מועמדים</h3>
        <h3>.לחפש עבודה טובה זה די קשה, ולחפש עובדים מתאימים זו עבודה מסובכת לא פחות</h3>
        <h3>,אבל אחרי שנים של ניסיון בתחום, במהלכן שילבנו את הידע המקצועי בתחום הגיוס</h3>
        <h3>,יחד עם טכנולוגיה מובילה, ועובדים המעניקים יחס אישי לאורך כל הדרך</h3>
        <h3>:אנחנו יכולים לומר בגאווה</h3>
        <h2 class="w3-animate-fading">!!! זו העבודה שלנו</h2>
        <h3>.בנינו פלטפורמה, שהיא כלי המשרת בצורה היעילה, הפשוטה והמתקדמת ביותר, כדי שתוכלו להתקדם</h3>
        <h3>.להתקדם למשרה המתאימה לכם, להתקדם עם העובדים שמתאימים לכם</h3>
        <br>
      </div>
      <div class="col-md-3 col-md-offset-1">
          <img src="../../assets/Pictures/לוגו קטן.jpg" width="300px" height="300px">
        </div>
    </div>
  </div>
  
  <div id="services" class="container-fluid bg-grey text-center">
    <h1>כל מה שהקרירה שלכם צריכה</h1>
    <p>____________________________________</p><br>
    <h4>כחלק מהמחוייבות שלנו להצלחה שלכם בקריירה, אנחנו לא מתמקדים רק בלהביא לכם את המשרות</h4>
    <h4>האיכותייות והעדכניות ביותר, אנחנו גם מייצרים עבורכם אוסף של כלים לשדרג תהליך חיפוש</h4>
    <h4>.העבודה וניהול הקריירה שלכם</h4>
    <br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <span><i class="fa fa-thumbs-up"></i></span>
        <h4>ממליצים</h4>
        <p>תוכל להמליץ על משהו שאהבת</p>
     <p>..וגם לראות את ההמלצות שאחרים המליצו עליך</p>
      </div>
      <div class="col-sm-4">
        <!-- <span class="logo-small"><img src="https://img.icons8.com/ios-filled/50/00000/post-ads.png" style="color:rgb(245, 20, 12);"></span> -->
        <span><i class="fas fa-file-image"></i></span>
        <h4>פרסומות</h4>
        <p>תוכל לפרסם את עצמך ואת היכולות שלך באתר</p>
     <p>..ולהגדיל את סיכויי ההצלחה שלך</p>
      </div>
      <div class="col-sm-4">
        <span><i class="fas fa-user-check"></i></span>
        <h4>אנשים מועדפים</h4>
        <p>..תוכל לבקש בקשה למקום עבודה מועדף עליך</p>
      </div>
    </div>
  </div>
  <div id="services" class="container-fluid text-center">
      <h1 style="color:#34495e;"> JOOBA זירת הגיוס של אתר</h1>
      <p>____________________________________</p><br>
      <h4 style="color:rgb(245, 20, 12);">!כל פתרונות הגיוס לעסק במקום אחד</h4>
      <h4 style="color:rgb(245, 20, 12);">כדי לעזור לכם לגייס את המועמדים הטובים והמתאימים ביותר עבורכם</h4>
      <br>
        <div class="row slideanim">
        <div class="col-sm-4">
          <span><i (click)="gotoAboutEmployer()" style="color:#34495e;" class="fas fa-users"></i></span>
          <h4 style="color:rgb(245, 20, 12);">מערכת גיוס אישית</h4>
        <p>מערכת מתקדמת המאפשרת</p>
        <p>,גיוס מועמדים בקליק אחד</p>
        <p> - ומגוון יכולות מיון וסינון</p>
        <p>.בתהליך מציאת העובד</p>
      </div>
        <div class="col-sm-4">
          <span><i style="color:#34495e;" class="fas fa-hand-point-up"></i></span>
          <h4 style="color:rgb(245, 20, 12);">הוספת דרישה בקליק</h4>
        <p>אם ישנה דרישה חשובה לך ביותר</p>
        <p>- שלא מצאת ברשימת הדרישות במערכת</p>
        <p>!תוכל להוסיף דרישה בקליק</p>
        </div>
        <div class="col-sm-4">
          <span><i (click)="gotoAboutEmployer()" style="color:#34495e;" class="fas fa-user-tie"></i></span>
          <h4 style="color:rgb(245, 20, 12); ;">אתר מעסיקים</h4>
        <p>,חויית הגיוס המקצועית - והמדוייקת ביותר</p>
        <p>שאופיינה ונבנתה במיוחד</p>
        <p>.לכם - המעסיקים</p>
      </div>
      </div>
  </div>
    <br><br> 
<!-- crusela -->
<!-- <div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
  <div class="carousel-inner">
    <div class="col-md-11" class="carousel-item active">
      <label>434444444</label>
    </div >
    <div class="col-md-11" class="carousel-item">
      <label>555555555</label>
    </div>
    <div class="col-md-11" class="carousel-item">
<label>111111111</label>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
  <!--  -->
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
      <div class="row">
    <div class="col-md-11 slideanim">
           <h2 style="margin-bottom:8px;">צור קשר</h2>
           <p style="text-align: right;font-size: 20px;">נשמח לשמוע ממכם</p>
          </div>
  </div>
    <div class="row">
      <div class="col-md-4">
        <h4 style="text-align: right;">:פרטי יצירת קשר</h4>
        <p style="text-align: right;">  כתובת | ישראל <span class="glyphicon glyphicon-map-marker"></span></p>
        <p style="text-align: right;">0504180030 / 0548538680  | טלפון <span class="glyphicon glyphicon-phone"></span></p>
        <p style="text-align: right;">jobba.lh@gmail.com  | דוא"ל <span class="glyphicon glyphicon-envelope"></span></p>
      </div>
      <div class="col-md-7 slideanim">
        <div class="row">
          <div class="col-md-6 form-group">
            <input class="form-control" id="email" name="email" placeholder='דוא"ל' type="email" required>
          </div>
          <div class="col-md-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="שם מלא" type="text" required>
            </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="הודעה" rows="5"></textarea><br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn btn-default pull-right" type="submit" (click)="send()">שלח</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast position="center"></p-toast>
 
  <!-- Image of location/map -->
  
  <footer class="container-fluid text-center">
    <a (click)="scrollToElement(target)" title="גלול למעלה">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>תמיד כאן בשבילכם JOBBA</p>
  </footer>

  
