label {margin-left: -0.5%}
.validation {margin-left: 0%}
.col button {
    width: 400px;
    margin-left: 32%;
}
.panel-footer{
    background-image: linear-gradient(90deg, rgb(245, 20, 12) , #62686e);
    font-size: 16px;
    width: 81%;
    margin-left: -9px;
    border-radius: 8px;
  }
  /* .required
  {
      border-color: red;
  } */