<div>
    <h1>פרטי המשרה</h1><br>
    <form class="container" #frmpd="ngForm">     
     <div class="col-md-offset-1 col-md-2 leftdiv">
         <span class="ui-float-label " >   
               <input class="required" (focus)="placefocus($event)" (blur)="placeblur($event)" placeholder="" required name="Place" #Place="ngModel" [(ngModel)]="RequestServ.Request.Place" 
               (change)="RequestServ.Request.Place!=''?ReqFeilds($event):null" id="float-input" 
                ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"  type="text"
                size="53" pInputText> 
               <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
             <span><i class="fa fa-map-marker" style="margin-left:5px"></i></span>
              מיקום 
             </label>
            </span>
            <div *ngIf="Place.invalid && Place.touched">
                <label class="validation" *ngIf="Place.errors.required">חובה להזין מיקום</label> 
             </div>
            <br><br>
            <span class="ui-float-label " >
               <input name="Time" id="float-input" (click)="popUpTravelTime()" [(ngModel)]="RequestServ.Request.EmployTravelTime" style="cursor: pointer"
                type="text" size="53" pInputText> 
               <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
             <span><i class="fa fa-clock-o" style="margin-left:5px"></i></span>
            זמן נסיעה לעובד
             </label>
            </span>
            <br><br>
            <span class="ui-float-label " >
              <textarea size="53" pInputText style="width:430px;color:black;height:110px" id="float-input" name="MoreDetails" [(ngModel)]="OfferDetails.MoreDetails"></textarea>
              <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
             <span><i class="fa fa-commenting-o" style="margin-left:5px"></i></span>
                פרטים נוספים
             </label>
            </span>
     </div> 
     <div class="col-md-offset-3 col-md-2 rightdiv">
         <span class="ui-float-label " >
               <input class="required" (change)="OfferDetails.Name!=''?ReqFeilds($event):null" [(ngModel)]="OfferDetails.Name"
               type="text" name="Name" required 
               #Name="ngModel" id="float-input" size="53" pInputText> 
               <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
                  <span><i class="fa fa-tag" style="margin-left:5px"></i></span>
                  שם משרה
               </label>
              </span>
              <div *ngIf="Name.invalid && Name.touched">
                <label class="validation" *ngIf="Name.errors.required">חובה להכניס שם משרה</label> 
              </div>
              <br><br>
              <span class="ui-float-label " >
                <input [(ngModel)]="OfferDetails.OfferDescription" name="OfferDescription"
                type="text"
                id="float-input" #OfferDescription="ngModel" id="float-input" 
                type="text"  size="53" pInputText> 
                <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
                <span><i class="fa fa-tags" style="margin-left:5px"></i></span>
               תאור משרה 
                </label>
               </span> 
               <br><br>
                 <span class="ui-float-label " >
                    <button class="required" style="width: 430px" id="float-input" #but (click)="($event.target.tagName!='I')?AreasSelect.open():null"            
                     size="50" pInputText>
                     <i *ngIf="AreaCodeofQuickSearch!=undefined&&AreaCodeofQuickSearch!=0" style="cursor: pointer;float:right;opacity: 0.5;margin-top: 15px" title="ניקוי בחירה" (click)="ClearAreaCodeofQuickSearch()" class="fas fa-trash"></i>    
                     <mat-select [formControl]="Areas"  [(ngModel)]="AreaCodeofQuickSearch" name="AreasSelect" required #AreasSelect #AreasSelect="ngModel"  (selectionChange)="AreaCodeofQuickSearch!=null?ReqFeilds(but):null;ShowAreaTitles()">
                        <mat-option><ngx-mat-select-search (keyup)="onKey1()" [formControl]="bankFilterCtrl"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let i of areaslist" [value]="i.Code">{{i.Name}}</mat-option>
                    </mat-select>
                    </button>
                   <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
                  <span><i class="fa fa-align-justify" style="margin-left:5px"></i></span>
                    תחום
                  </label>
                 </span>
                 <div *ngIf="AreasSelect.invalid && AreasSelect.touched">
                    <label class="validation" *ngIf="AreasSelect.errors.required">חובה לבחור תחום</label> 
                 </div>
                 <br><br>
                 <span class="ui-float-label">
                    <button #but1 class="required" style="width: 430px" id="float-input" (click)="AreaTitlesSelectOpen($event)"            
                     size="50" pInputText>
                     <i *ngIf="areaTtlesSelected()==1" style="cursor: pointer;float:right;opacity: 0.5;margin-top: 5px" title="ניקוי בחירה" (click)="ClearAreaTitlesofQuickSearch()" class="fas fa-trash"></i>   
                     <mat-select  [formControl]="AreaTitles" [disabled]="AreaCodeofQuickSearch==null||AreaCodeofQuickSearch==undefined||AreaCodeofQuickSearch==0" [(ngModel)]="AreaTitlesofQuickSearch" name="AreaTitlesSelect" required #AreaTitlesSelect #AreaTitlesSelect="ngModel" multiple 
                     (selectionChange)="ReqFeilds(but1,true)"> 
                        <mat-option><ngx-mat-select-search (keyup)="onKeyTitles1()" [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search></mat-option>
                        <mat-option *ngFor="let i of areastitleslist" [value]="i.Code">{{i.Name}}</mat-option>
                       </mat-select>  
                       </button>          
                   <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
                  <span><i class="fa fa-list" style="margin-left:5px"></i></span>
                     תפקיד
                  </label>
                 </span>
                 <div *ngIf="AreaCodeofQuickSearch!=null&&AreaTitlesSelect.invalid&&AreaTitlesSelect.touched">
                     <label class="validation" *ngIf="AreaTitlesSelect.errors.required">חובה לבחור תפקיד אחד לפחות</label> 
                    </div>
                    <br><br>
    </div>    
     <br><br>
     <div class="col-md-12">
     <button class="panel-footer" *ngIf="frmpd.form.invalid" (click)="ShowRequiredFeilds();ValidationServ.alert()"> 
        <a style="color: white;" >המשך לקריטריונים</a>         
      </button>
      <button class="panel-footer" *ngIf="frmpd.form.valid" (click)="OkFunc()"> 
          <a style="color: white;" >המשך לקריטריונים</a>         
        </button>
      </div>
</form>
</div>
<br>
<p-toast position="bottom-center"></p-toast>
<p-dialog position="top" [(visible)]="p_dialog_display"  [style]="{width: '630px'}">
    <p-header>
   מרחק נסיעה מקסימלי לעובדים
    </p-header>
    <br>
   <label style="color:red">הערה: לא תקבל הצעות מעובדים שמרחקם מהעבודה עולה על משך הזמן שתבחר* </label>
    <br>
    <mat-slider thumbLabel [displayWith]="formatLabel" (change)="TravetTime=$event.value"  tickInterval="100" min="0" max="100"></mat-slider>
    <br> <br>
    <p-footer>
        <app-display-button [changeCssEnter]="true" (click)="SaveTravelTime()"></app-display-button>
    </p-footer>

  </p-dialog>

