<div class="logo" >
<img class="imglogo" src="../../assets/Pictures/לוגו פרוייקט מלא.jpg" width="150px" height="80px">
</div>

<!-- <button (click)="CheckGoogleCSharpDistances()">בדיקת מרחקים בגוגל דרך C#</button>
<button (click)="try()">ניסוי</button> -->
<br><br><br>
<nav>
    <a routerLink="/about">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size:15px;margin-right:10px"></span>JOBBA למה</a>  
        <!-- <a *ngIf="GlobalServ.OccuredEnterance==false" (click)="newUser()">
            <i style='font-size:14px;margin-right:10px' class='fas'>&#xf234;</i> משתמש חדש</a>  -->
            <a (click)="aboutEmployee()">
              <i style='font-size:16px;margin-right:10px'  class='far'>&#xf2bb;</i>
           ניהול חיפושים ומשרות
                </a>
            <a *ngIf="GlobalServ.OccuredEnterance==false" (click)="enter()">
                <i style='font-size:15px;margin-right:10px' class='fas'>&#xf007;</i>כניסה</a>     
                <a *ngIf="GlobalServ.OccuredEnterance==true" routerLink="/personaldetails">
                  <i style='font-size:16px;margin-right:10px'  class='far'>&#xf2bb;</i>
                  {{PeopleServ.surf.FirstName}} פרטים אישיים<div *ngIf="showLoginSelect==true">
                  </div></a>                     
          <a (click)="RequestServ.Request.Employee=false;aboutEmployer()">
              <span aria-hidden="true" style="margin-right:10px"></span><i class="fas fa-user-tag"></i>  גיוס עובדים </a>         
          <a (click)="RequestServ.Request.Employee=true;dispalyAreaselect(true)">
              <span aria-hidden="true" style="margin-right:10px"><i class="fas fa-search"></i></span>חיפוש עבודה</a>                         
<div class="animation start-contact"></div>
    </nav>
<br><br>
<div [ngClass]="{'spaces col-md-11': GlobalServ.OccuredArea===true, 'col-md-12': GlobalServ.OccuredArea=== false}" style="text-align: center">
    <router-outlet></router-outlet>
</div>
<div *ngIf="GlobalServ.OccuredArea==true">
  <br><br><br>
</div>
<br><br><br><br><br>
<div *ngIf="LogosRandom">
  <div *ngFor="let objitem of LogosList">
  <a *ngFor="let item of objitem | keyvalue" (click)="GoToSite(item.value)">
 <img  [src]="PeopleServ.PictureNative+item.key" class="imglogos" width="150px" height="80px">
  </a>
</div>
</div>
<p-toast position="center" key="b" (onClose)="onRejectb()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="divstyle">
          <h2 class="w3-animate-bottom">אזהרה!</h2>
          <p class="pstyle">אתה מבקש לסגור את הטופס, נתוני הבקשה שלך לא ישמרו</p>
      </div><br>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onRejectb()" label="ביטול" class="ui-button-secondary"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" pButton (click)="initRequest()" label="אישור" class="ui-button-success"></button>
        </div>
      </div>
  </ng-template>
  </p-toast>


 







