<!--<button (click)="searchesManager()">ניהול החיפושים שלי</button>
<button (click)="appliedJobsManager()">ניהול משרות</button>
<button (click)="GetCV()">קורות חיים</button>-->

<button class="butt" (click)="searchesManager()" style="width: 165px;height: 50px">ניהול החיפושים שלי</button><label style="color: white;">111</label>
<button class="butt" (click)="GetCV()" style="width: 165px;height: 50px">קורות חיים</button><label style="color: white;">111</label>
<button class="butt" (click)="appliedJobsManager()" style="width: 165px;height: 50px">ניהול משרות</button>

<div *ngIf="searches">
  <h1>החיפושים שלי</h1>
  <div>
  <p> 
 </p>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let i of searchesList;let ind=index" [expanded]="step === ind" (opened)="setStep(ind)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>         
            <mat-icon></mat-icon>
          </mat-panel-description>
          <mat-panel-title>
            {{ind+1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="text-align: right;margin-right: 150px;font-size: 18px;">
          <label>תחום: {{getAreaNameByCode(i.AreaCode)}}</label><br>
          <label>מיקום: {{i.Place}}</label><br>
          <label>תדירות קבלת הצעות מתאימות: {{gettingOffersFrequency(i)}}</label> 
          <button (click)="gotoRequest(i.RequestCode)">עדכון/מחיקת בקשה</button>
          </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()"> הקודם <i class="fas fa-caret-up"></i></button>
          <button mat-button color="primary" (click)="nextStep()"> הבא <i class="fas fa-caret-down"></i></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div *ngIf="!searches">
<h1>המשרות אליהם פניתי</h1>
<div>
<p>
בינתיים ללא קריטריונים
</p>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let i of appliedJobsList;let ind=index" [expanded]="step === ind" (opened)="setStep(ind)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>         
הגשת מועמדות למשרה זו בתאריך: {{i.SendingDate|date: 'dd/MM/yyyy'}}
          <mat-icon></mat-icon>
        </mat-panel-description>
        <mat-panel-title>
          {{ind+1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="text-align: right;margin-right: 150px;font-size: 18px;">
        <label>תחום: {{getAreaNameByCode(i.Request.RequestOfferDetails.AreaCode)}}</label><br>
        <label>חברה: {{i.Request.PeopleOffer.Name}}</label><br>
        <label>שם משרה: {{i.Request.RequestOfferDetails.Name}}</label><br>
        <label>תיאור משרה: {{i.Request.RequestOfferDetails.OfferDescription}}</label><br>
        <label>מיקום: {{i.Request.Place}}</label><br>
        <label>פרטים נוספים: {{i.Request.RequestOfferDetails.MoreDetails}}</label>  
        </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()"> הקודם <i class="fas fa-caret-up"></i></button>
        <button mat-button color="primary" (click)="nextStep()"> הבא <i class="fas fa-caret-down"></i></button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<!--קורות חיים-->
<p-dialog [modal]="true" position="top" [(visible)]="ShowCV"  [style]="{width: '630px'}">
  <p-header class="pheader">
    כאן תוכל להעלות את קורות חיים
</p-header>
  <br>
  <label class="lb">:ניתנים להעלאה רק קבצים בעלי הסיומות הבאות</label><br>
  <label class="lb1">.doc  .rtf  .docx  .pdf</label><br><br>

  <a *ngIf="CV!=null&&CV!=''&&!CV.endsWith('CV/')" [href]="PeopleServ.PictureNative+CV">{{CV}}</a><br>
<!--<label *ngIf="CV==null||CV==''||CV.endsWith('CV/')">אין קורות חיים</label>-->
<input #fileInput type="file" (click)="ind='CV'" accept=".doc,.rtf,.docx,.pdf"
 name="file" (change)="fileChange($event)" class="upload"><br>
 
  <p-footer *ngIf="FileList!=null&&FileList.length>0&&ind=='CV'">
      <!--<app-display-button [changeCssEnter]="true" (click)="SentToPlacing('CV')" [Value]="'שמירת קובץ'"></app-display-button>
      <app-display-button [changeCssEnter]="true" (click)="CancelationChangeFile()" [Value]="'ביטול'"></app-display-button>-->
      <button class="butt" (click)="SentToPlacing('CV')" style="float: left;width: 130px;height: 35px">שמירת קובץ</button>
      <button class="butt" (click)="CancelationChangeFile()" style="margin-left: 130px;width: 130px;height: 35px">ביטול</button> 
    </p-footer>
    <p-footer *ngIf="(FileList==null||FileList.length==0||ind!='CV')&&CV!=null&&CV!=''&&!CV.endsWith('CV/')">
      <!--<app-display-button [changeCssEnter]="true" (click)="RemoveFile('CV')" [Value]="'מחיקה'"></app-display-button> --> 
      <button class="butt" (click)="RemoveFile('CV')" style="float: left;width: 130px;height: 35px">מחיקה</button><br><br>    
    </p-footer>
</p-dialog>
<p-toast position="bottom-center"></p-toast>



