   
<button class="butt" (click)="searchesManager()" style="width: 165px;height: 50px">ניהול החיפושים שלי</button><label style="color: white;">111</label>
<button class="butt" (click)="GetCV()" style="width: 165px;height: 50px">קורות חיים</button><label style="color: white;">111</label>
<button class="butt" (click)="appliedJobsManager()" style="width: 165px;height: 50px">ניהול משרות</button>

<div *ngIf="searches">
  <h1>החיפושים שלי</h1>
  <h6>{{emptySearchList}}</h6>
  <div>      
  <p> 
 </p>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let i of searchesList;let ind=index" [expanded]="step === ind" (opened)="setStep(ind)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>         
            <mat-icon></mat-icon>
            <label style="color:black;font-size: 20px;text-align: center;">חיפוש בתחום {{getAreaNameByCode(i.AreaCode)}}</label>
          </mat-panel-description>
          <mat-panel-title>
            {{ind+1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="text-align: right;margin-right: 150px;font-size: 18px;">
          <label style="color: rgb(245, 20, 12);">:תחום<p style="color: #34495e;">{{getAreaNameByCode(i.AreaCode)}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:מיקום<p style="color: #34495e;">{{i.Place}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:תדירות קבלת הצעות מתאימות<p style="color: #34495e;">{{gettingOffersFrequency(i)}}</p></label><br><br>
          <button class="butt" (click)="gotoRequest(i.RequestCode)" style="float: right;width: 200px;height: 35px">עדכון/מחיקת בקשה</button><br><br>    
          </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()"> הקודם <i class="fas fa-caret-up"></i></button>
          <button mat-button color="primary" (click)="nextStep()"> הבא <i class="fas fa-caret-down"></i></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div *ngIf="!searches">
<h1>המשרות אליהם פניתי</h1>
<h6>{{emptyList}}</h6>
<div>
<p>
<!-- בינתיים ללא קריטריונים -->
</p>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let i of appliedJobsList;let ind=index" [expanded]="step === ind" (opened)="setStep(ind)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description> 
            <a (click)="OpenCriterions(i.Request.RequestCode)"> אחוזי התאמת ההצעה: {{i.Request.AdjustmentPercentages}}</a>          
          <label>הגשת מועמדות למשרה זו בתאריך: {{i.SendingDate|date: 'dd/MM/yyyy'}}</label>      
          <mat-icon></mat-icon>
        </mat-panel-description>
        <mat-panel-title>
          {{ind+1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="text-align: right;margin-right: 150px;font-size: 18px;">
          <label style="color: rgb(245, 20, 12);">:תחום<p style="color: #34495e;">{{getAreaNameByCode(i.Request.RequestOfferDetails.AreaCode)}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:חברה<p style="color: #34495e;">{{i.Request.PeopleOffer.Name}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:שם משרה<p style="color: #34495e;">{{i.Request.RequestOfferDetails.Name}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:תאור משרה<p style="color: #34495e;">{{i.Request.RequestOfferDetails.OfferDescription}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:מיקום<p style="color: #34495e;">{{i.Request.Place}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:פרטים נוספים<p style="color: #34495e;">{{i.Request.RequestOfferDetails.MoreDetails}}</p></label><br><br><br>
        </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()"> הקודם <i class="fas fa-caret-up"></i></button>
        <button mat-button color="primary" (click)="nextStep()"> הבא <i class="fas fa-caret-down"></i></button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<!--קורות חיים-->
<p-dialog [modal]="true" position="top" [(visible)]="ShowCV"  [style]="{width: '630px'}">
  <p-header class="pheader">
    כאן תוכל להעלות את קורות חיים
</p-header>
  <br>
  <label class="lb">:ניתנים להעלאה רק קבצים בעלי הסיומות הבאות</label><br>
  <label class="lb1">.doc  .rtf  .docx  .pdf</label><br><br>

  <a *ngIf="CV!=null&&CV!=''&&!CV.endsWith('CV/')" [href]="PeopleServ.PictureNative+CV">{{CV}}</a><br>
<!--<label *ngIf="CV==null||CV==''||CV.endsWith('CV/')">אין קורות חיים</label>-->
<input #fileInput type="file" (click)="ind='CV'" accept=".doc,.rtf,.docx,.pdf"
 name="file" (change)="fileChange($event)" class="upload"><br>
 
  <p-footer *ngIf="FileList!=null&&FileList.length>0&&ind=='CV'">
      <!--<app-display-button [changeCssEnter]="true" (click)="SentToPlacing('CV')" [Value]="'שמירת קובץ'"></app-display-button>
      <app-display-button [changeCssEnter]="true" (click)="CancelationChangeFile()" [Value]="'ביטול'"></app-display-button>-->
      <button class="butt" (click)="SentToPlacing('CV')" style="float: left;width: 130px;height: 35px">שמירת קובץ</button>
      <button class="butt" (click)="CancelationChangeFile()" style="margin-left: 130px;width: 130px;height: 35px">ביטול</button> 
    </p-footer>
    <p-footer *ngIf="(FileList==null||FileList.length==0||ind!='CV')&&CV!=null&&CV!=''&&!CV.endsWith('CV/')">
      <!--<app-display-button [changeCssEnter]="true" (click)="RemoveFile('CV')" [Value]="'מחיקה'"></app-display-button> --> 
      <button class="butt" (click)="RemoveFile('CV')" style="float: left;width: 130px;height: 35px">מחיקה</button><br><br>    
    </p-footer>
</p-dialog>
<p-toast position="bottom-center"></p-toast>



