<div *ngIf="aboutbusiness">
  <form #frmpd="ngForm">
  <h1>{{PeopleServ.surf.FirstName + ' ' +PeopleServ.surf.Name}} - פרטי העסק</h1><br><br>

  <div id="container">
    <div class="panel savebutton">
      <button class="panel-heading" style="width: 230px;" (click)="searchesManager()">משרות שפרסמתי</button>
      <button class="panel-heading" style="width: 230px;" (click)="myBusiness()">פרטי העסק שלי</button> 
    </div></div><br><br>

 <span class="ui-float-label " >
        <input name="Logo" id="float-input" (click)="GetLogo()" style="cursor: pointer" type="text" size="70" pInputText> 
        <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
      <span><i class="fa fa-picture-o" style="margin-left:5px"></i></span>
      לוגו
      </label>
     </span>
     <br><br>
    <span class="ui-float-label " >
      <input (focus)="urlfocus($event)" (blur)="urlblur($event)" [(ngModel)]="SiteLink" pattern="https?://.+" type="url" placeholder="" type="text" name="site_link" 
      #site_link="ngModel" id="float-input" size="70" pInputText>
      <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
         <span><i class="fa fa-external-link" style="margin-left:5px"></i></span>
         לינק לאתר
      </label>
     </span>
     <div *ngIf="site_link.invalid && site_link.touched">
        <label class="validation" *ngIf="site_link.errors.pattern">קישור שגוי</label>   
      </div>
     <br><br>
    <span class="ui-float-label " >
        <textarea size="70"
         required maxlength=500 #aboutbusy="ngModel"
         pInputText style="width:550px;color:black" 
         id="float-input" name="MoreDetails" [(ngModel)]="AboutBusiness"></textarea>
      <label class="col-md-offset-2" for="float-input" style="color:#34495e;"> 
         <span><i class="fa fa-commenting-o" style="margin-left:5px"></i></span>
         אודות העסק שלי
      </label>
     </span>
    <!-- <div *ngIf="aboutbusy.invalid">
      <label *ngIf="aboutbusy.errors.maxlength">מספר התווים מוגבל ל500</label>
    </div>-->
     <br><br>
      <button class="panel-footer" *ngIf="frmpd.form.invalid" (click)="ValidationServ.alert()"> 
          <a style="color: white;" >אישור</a>         
        </button>
        <button class="panel-footer" *ngIf="frmpd.form.valid" (click)="OkFunc()"> 
            <a style="color: white;" >אישור</a>         
          </button>
          <p-toast *ngIf="frmpd.form.invalid" position="bottom-center"></p-toast>
          <p-toast *ngIf="frmpd.form.valid" position="bottom-center" (onClose) = "Navigatetoaboutemployer()"></p-toast>
        </form>
        <p-dialog [modal]="true" position="top" [(visible)]="ShowLogo"  [style]="{width: '630px'}">
          <p-header class="pheader">
              כאן תוכל להעלות את הלוגו של העסק שלך
          </p-header>
          <br> 
          <label class="lb">:ניתנים להעלאה רק קבצים בעלי הסיומות הבאות</label><br>
          <label class="lb1">.jpeg  .gif  .png  .jpg</label><br><br>
          <img *ngIf="Logo!=null&&Logo!=''&&!Logo.endsWith('Logo/')" 
          [src]="PeopleServ.PictureNative+Logo" width="150px"><br>
          <!---<label *ngIf="Logo==null||Logo==''||Logo.endsWith('Logo/')">אין לוגו</label>--->
          <input #fileInput type="file" (click)="ind='Logo'" accept=".jpeg,.gif,.png,.jpg"
           name="file" (change)="fileChange($event)" class="upload"
           ><br>
          <br> 
          <p-footer *ngIf="FileList!=null&&FileList.length>0&&ind=='Logo'">
              <!--<app-display-button [changeCssEnter]="true" (click)="SentToPlacing('Logo')" [Value]="'שמירת לוגו'"></app-display-button><br>-->     
              <!--<app-display-button [changeCssEnter]="true" (click)="CancelationChangeFile()" [Value]="'ביטול'"></app-display-button> -->

              <button class="butt" (click)="SentToPlacing('Logo')" style="float: left;width: 130px;height: 35px">שמירת לוגו</button>
              <button class="butt" (click)="CancelationChangeFile()" style="margin-left: 130px;width: 130px;height: 35px">ביטול</button>
            </p-footer>
            <p-footer *ngIf="(FileList==null||FileList.length==0||ind!='Logo')&&Logo!=null&&Logo!=''&&!Logo.endsWith('Logo/')">
              <!--<app-display-button [changeCssEnter]="true" (click)="RemoveFile('Logo')" [Value]="'מחיקה'"></app-display-button>--> 
              <button class="butt" (click)="RemoveFile('Logo')" style="float: left;width: 130px;height: 35px">מחיקה</button><br><br>
             </p-footer>
        </p-dialog></div>
<div *ngIf="!aboutbusiness">
  <h1>החיפושים שלי</h1>
  <h6>{{emptyList}}</h6>
  <div>
  <p>
 </p>
  <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let i of searchesList;let ind=index" [expanded]="step === ind" (opened)="setStep(ind)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description style="font-size: 20px;">
          <mat-icon></mat-icon>
          {{getAreaNameByCode(i.AreaCode)}}
        </mat-panel-description>
          <mat-panel-title>
            {{ind+1}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="text-align: right;margin-right: 150px;font-size: 18px;">
          <label style="color: rgb(245, 20, 12);">:תחום<p style="color: #34495e;">{{getAreaNameByCode(i.AreaCode)}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:שם משרה<p style="color: #34495e;">{{i.RequestOfferDetails.Name}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:תאור משרה<p style="color: #34495e;">{{i.RequestOfferDetails.OfferDescription}}</p></label><br>
          <label style="color: rgb(245, 20, 12);">:מיקום<p style="color: #34495e;">{{i.Place}}</p></label><br>
          <!-- <label>{{i.EmployTravelTime}} :מס' דקות נסיעה</label><br> -->
          <label style="color: rgb(245, 20, 12);">:פרטים נוספים<p style="color: #34495e;">{{i.RequestOfferDetails.MoreDetails}}</p></label><br><br>
          <button class="butt" (click)="gotoRequest(i.RequestCode)" style="width: 230px;height: 40px">עדכון/מחיקת משרה</button><br><br> 
          </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()"> הקודם <i class="fas fa-caret-up"></i></button>
          <button mat-button color="primary" (click)="nextStep()"> הבא <i class="fas fa-caret-down"></i></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>


