<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          שם הקריטריון
        </mat-panel-title>
        <mat-panel-description>
          שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      כאן יהיו הבנים ההיררכיים של הקריטריון
      דוגמא להיררכיית בנים:
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            שם הקריטריון
          </mat-panel-title>
          <mat-panel-description>
             שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        כאן יהיו הבנים ההיררכיים של הקריטריון
        דוגמא להיררכיית בנים:
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                שם הקריטריון
                </mat-panel-title>
              <mat-panel-description>
                 שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
           כאן יהיו הבנים ההיררכיים של הקריטריון
          </mat-expansion-panel>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            שם הקריטריון
          </mat-panel-title>
          <mat-panel-description>
            שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        כאן יהיו הבנים ההיררכיים של הקריטריון
      </mat-expansion-panel>
    </mat-expansion-panel>
  
    <mat-expansion-panel style="pointer-events: none" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            שם הקריטריון
        </mat-panel-title>
        <mat-panel-description>
            שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      כאן יהיו הבנים ההיררכיים של הקריטריון
  
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            שם הקריטריון
        </mat-panel-title>
        <mat-panel-description>
            שדה להכנסת ערך הקריטריון או כלום -אם זה קריטריון מטיפוס רשימה
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      כאן יהיו הבנים ההיררכיים של הקריטריון
    </mat-expansion-panel>
  
  </mat-accordion>
  
