.link{
  text-decoration: underline;
  cursor: pointer;
  color: #005b9f;
}
.link:hover{
  text-decoration: none;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.mat-expansion-panel-header .mat-panel-title{
  text-align: right;
}
.headerjob{
  color: #34495e; 
  text-shadow: 5px;
  size: 40px;
  border-bottom: rgb(245, 20, 12);
}
.lb{
  font-size: 17px;
  text-align: center;
  color: "#34495e";
}
.lb1{
  font-size: 16px;
  text-align: center;
  color: rgb(245, 20, 12);
}
.butt{
  color: white;
  background-image: linear-gradient(90deg, #34495e, rgb(245, 20, 12));   
  border-radius: 15px;
  font-weight: bold;
  font-size:16px;
  flex-grow: 1;
  cursor: pointer;
}
